.products {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    justify-content:left

}

.product__single {
    box-shadow: 1px 2px 2px 2px white;
    width: 17rem;
    padding: 1rem 1rem;
    border-radius: 2px;
    background-color: WHITE;
}

.product__single:hover {
    box-shadow: 1px 2px 2px 2px rgb(206, 207, 206);
}

.product__single .image {

    margin-bottom: 5px;
    height: 18rem;

    overflow: hidden;
}

.product__single .image:hover {
    
    transform: scale(1.1) ;
    -webkit-transform: scale(1.1) ;
    -moz-transform: scale(1.1) ;
}

.image img {
    width: 100%;
    object-fit: cover;
}

.title {
    padding: 5px;
    font-weight: bold;
    overflow: hidden;
    height: 5rem;

    overflow: hidden;
}

.price {
    background-color: red;
    color: white;
    padding: 0.5rem;
    overflow: hidden;
   
}
.price:hover
{
    background-color:rgb(49, 49, 48);
transition:background-color 3s ease-out 0s;
}